In [ ]:
isinstance(print, object)

True

In [ ]:
def square(x) :
  return x**2
  
print(square(2))

4

In [ ]:
# Lambda
square = lambda x : x**2

print(square(2))
print(square(-1))
print(square(5))

4
1
25

In [ ]:
add_two = lambda x, y : x + y

print(add_two(2, 3))

5

In [ ]:
# Lambda functions are anonymous

( lambda x : x ** 3 )(4)

64

In [ ]:
is_even = lambda x : True if x%2==0 else False

print(is_even(3))
print(is_even(4))

False
True

In [ ]:
# Use case

a = [4,5,1,2,3,8,9,10]

In [ ]:
sorted_a = sorted(a)
print(sorted_a)

[1, 2, 3, 4, 5, 8, 9, 10]

In [ ]:
sorted?

In [ ]:
reverse_sorted_a = sorted(a, reverse=True)
print(reverse_sorted_a)

[10, 9, 8, 5, 4, 3, 2, 1]

In [ ]:
students = [
    { "name": "A", "marks": 50 },
    { "name": "B", "marks": 100 },
    { "name": "C", "marks": 40 },
    { "name": "D", "marks": 80 },
    { "name": "E", "marks": 70 },
]

In [ ]:
# Throws error
sorted_students = sorted(students)

TypeError: ignored

In [ ]:
sorted_students = sorted(
    students,
    key = lambda x : x["marks"]
)

print(sorted_students)

[{'name': 'C', 'marks': 40}, {'name': 'A', 'marks': 50}, {'name': 'E', 'marks': 70}, {'name': 'D', 'marks': 80}, {'name': 'B', 'marks': 100}]

In [ ]:
# d1 = {'name': 'C', 'marks': 100}
# d2 = {'name': 'A', 'marks': 50}

# k1 = key(d1) # 100
# k2 = key(d2) # 50

# if(k1<k2) return True
# else return False

In [ ]:
def sort_student(d) :
  return d["marks"]

sorted_students = sorted(
    students,
    key = sort_student
)

print(sorted_students)

[{'name': 'C', 'marks': 40}, {'name': 'A', 'marks': 50}, {'name': 'E', 'marks': 70}, {'name': 'D', 'marks': 80}, {'name': 'B', 'marks': 100}]

In [ ]:
# HOMEWORK
# Write a sorting function which takes as argument
# List, Key, Reverse parameters

In [ ]:
# Break till 10pm

In [75]:
# Higher Order Functions

def gen_exp(n) :
  
  def exp(x) :
    return x ** n

  return exp

In [29]:
exp_3 = gen_exp(3)
print(exp_3(2))
print(exp_3(4))

exp_5 = gen_exp(5)
print(exp_5(3))

8
64
243

In [ ]:
# Decorators

In [30]:
def hello():
  print("Hello")

In [31]:
hello()

Hello

In [ ]:
'''

ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸
Hello
ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸

'''

In [32]:
def hello() :
  print('ðŸŒ¸' * 6)
  print('Hello')
  print('ðŸŒ¸' * 6)

hello()

ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸
Hello
ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸

In [33]:
def bye() :
  print('ðŸŒ¸' * 6)
  print('Bye')
  print('ðŸŒ¸' * 6)

bye()

ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸
Bye
ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸

In [54]:
def hello() :
  print('Hello')

def bye() :
  print('Bye')

def random() :
  print('Random')

In [58]:
def pretty(func) :

  def wrapper() :
    print('ðŸŒ¸' * 6)
    func()
    print('ðŸŒ¸' * 6)
  
  return wrapper

In [56]:
hello = pretty(hello, 'ðŸŒ¸')
bye = pretty(bye, 'ðŸ‘‹ðŸ»')
random = pretty(random, 'ðŸ§')

In [57]:
hello()
bye()
random()

ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸
Hello
ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸
ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»
Bye
ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»ðŸ‘‹ðŸ»
ðŸ§ðŸ§ðŸ§ðŸ§ðŸ§ðŸ§
Random
ðŸ§ðŸ§ðŸ§ðŸ§ðŸ§ðŸ§

In [59]:
@pretty
def super():
    print("super")

In [60]:
super()

ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸
super
ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸ðŸŒ¸

In [ ]:
# Three principles of Functional Programming

# 1. Separate data from mutations
# 2. Treat variables as immutable
# 3. Treat functions as objects

In [62]:
x = 5

# def mutate(x) :
#   return 2 * x + 1

# x = mutate(x)
# print(x)

def mutate_1(x) :
  return 2 * x + 1

x_1 = mutate_1(x)
print(x_1)

11

In [65]:
# def random(arr):
#     arr[0] = 100
#     print(arr)
    
# a = [1,2,3]
# random(a)

# print(a)

def random(arr):
    arr_cpy = arr.copy()
    arr_cpy[0] = 100
    return arr_cpy
    
a = [1,2,3]
a_random = random(a)

print(a, a_random)

[1, 2, 3] [100, 2, 3]

In [68]:
def gen_exp(n) : 
  
  def exp(x) :
    a = (x ** n)
  
    def exp1(y) : 
      return a//y 
    
    return exp1
  
  return exp

gen_exp(2)(3)(2)

4

In [76]:
exp_5 = gen_exp(5)(3)
print(type(exp_5), exp_5)

exp_5 = gen_exp(5)
print(type(exp_5), exp_5(3))

<class 'int'> 243
<class 'function'> 243

In [78]:
a=[1,3,4,2,5] 
print(a.sort())
print(a)

a.sort() -> In-built sort method on list class
sorted(a) -> Global sorting function